@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  body{
    width: 480px;
    margin: auto;
    overflow: auto;
    overflow-x: hidden;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    font-family:'Roboto',sans-serif;
  }

  @media (max-width: 768px){
    body {
      width: 100%;
      overflow: hidden;
    }

    .scrollable-container {
      overflow-y: scroll; /* Enables vertical scrolling */
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    .scrollable-container::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
  
  }
  .scrollable-container {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
  }
  
  @media (max-width: 370px){
    body {
      width: 370px;
    }
  
  }
  
}

::-webkit-scrollbar{
  width: 0;
}

.slick-slide{
 padding: 10px;
}


.rotating {
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



