@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  body{
    width: 480px;
    margin: auto;
    overflow: auto;
    overflow-x: hidden;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    font-family:'Roboto',sans-serif;
  }

  @media (max-width: 768px){
    body {
      width: 100%;
      overflow: -moz-scrollbars-none; /* For Firefox */
     -ms-overflow-style: none; 
    }
   /* For Chrome, Safari, and Opera */
    body::-webkit-scrollbar {      
      display: none;
    }
  
  }
  @media (max-width: 370px){
    body {
      width: 370px;
    }
  
  }
  
}

::-webkit-scrollbar{
  width: 0;
}

.slick-slide{
 padding: 10px;
}


.rotating {
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



