@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  body{
    width: 480px;
    margin: auto;
    overflow: auto;
    overflow-x: hidden;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
  }

  @media (max-width: 767px){
    body {
      width: 100%;
    }
  
  }
  @media (max-width: 370px){
    body {
      width: 370px;
    }
  
  }
  
}

::-webkit-scrollbar{
  width: 0;
}

.slick-slide{
 padding: 10px;
}


.rotating {
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 150s linear infinite;
  animation-delay: 0ms;
}

.bar::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  border-radius: 18px;
  height: 50%;
}

